.footer {
    text-align: center;
    min-height: 7rem;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

span {
    color: white;
}

 .footerList {
    position: relative;
    display: flex;
    list-style-type: none;
}

.footerList li {
    position: relative;
    margin: 20px;
    padding-top: 12px;
    cursor: pointer;
}

.footerList li .github {    
    font-size: 3rem;
    color: #fff;
}

.footerList li .linkedin {    
    font-size: 3rem;
    color: #007bb5;
}

.footerList li .facebook {    
    font-size: 3rem;
    color: #3B5998;
}

  @media only screen and (max-width:425px){
    span { padding-top: 10px; }
  }