:root {
    --text_colour: beige;
}

.navbar {
    min-height: 7rem;
}

.navbar-brand {
    font-family: "Caveat", cursive, serif;
    font-size: 2.6rem !important;
    padding-left: 75px;
    color: var(--text_colour) !important;
}

.navbar-nav {
    align-items: flex-end;
    padding-right: 10px;
}

.nav-link {
    font-size: 1.5rem !important;
    color: var(--text_colour) !important;
}

.navbar-toggler {
    border-color: var(--text_colour) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.circular {
    border-radius: 100%;
    
    max-width: 50%;
    margin-bottom: 15px;
}

@media only screen and (max-width:425px) {
    .navbar-brand {
        padding-left: 10px;
    }    
}

@media screen and (max-width:786px) {
    .circular {
        padding-left: 50px;
    }
    .navbar-toggler {
        margin-right: 50px !important;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: space-evenly !important;
    }
}
