.navbar {
    padding: 20px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    min-height: 5rem;
}

.navbar-brand {
    font-family: "Caveat", cursive, serif;
    font-size: 70px;
    padding-left: 75px;
    color: aquamarine;
}