h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.projectsh1 {
    text-align: center;
    padding: 20px 0;
    color: white;
}

.project_img {
    width: 400px;
    height: 320px;
}
.project {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right:5%;
    justify-content: center;
}

.project-card {
    padding: 10px;
    margin: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

p > a {
    color: beige;
}

.projectName {
    color: beige;
}