p > img {
    height: 30px;
}

.education {
    list-style-type: none;
    line-height: 4rem;
}

.summary {
    text-align: center;
}

.highlights {
    font-size: x-large;
    color: beige;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.button {
    margin-bottom: 20px !important;
}

.MuiSvgIcon-root {
    fill: beige !important;
    margin-top: 20px !important;
}

.MuiGrid-root {
    justify-content: center !important;
    flex-wrap: nowrap !important;
}

.skills {
    color: beige;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.MuiListItemText-primary {
    color: beige;
}
