.page-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.download {
  display: flex;
  justify-content: space-around;
}

.react-pdf__Page {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.react-pdf__Page__textContent {
  visibility: hidden;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}